/* h1 heading tag */
h1 {
    color: rgb(13, 117, 117);
    font-size: 35px
  }

  h2 {
    text-align: center;
    color: rgb(13, 117, 117);
    font-size: 20px
  }


.hunter_green {
    color: rgb(13, 117, 117)
}

.background{
  background-color: lightgray
}

.image {
  float: left;
}

.image2 {
  width: 100%
}


.pic {
  width: 100%;
}
